

/* module
   ---------------------------------------------------------- */
%ex-pos-center{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
%ex-clearfix {
  display: block;
  *zoom: 1;
  &:after {
    display: block;
    visibility: hidden;
    font-size: 0;
    height: 0;
    clear: both;
    content: "";
  }
}
%ex-ellipsis {//改行させない
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@mixin mx-break-word{
  word-break : break-all;
  word-wrap: break-word;
  white-space: normal;
  display: block;
}
%ex-break-word{ //改行させる
  @include mx-break-word;
}

%ex-notes{
  @include cnt-font-size($font-xsml);
  line-height: 1.3em;
  > li{
    text-indent: 1rem;
    padding-left: -1rem;
  }
}

%ex-hover:hover,
%ex-hover:hover img {
  filter:alpha(opacity=80);
  -moz-opacity: 0.8;
  opacity: 0.8;
  transition: 0.5s;
}


@include mq(){
  %ex-sp-hidden{
    display: none;
  }
  %ex-sp-visible{
    display: block;
  }
}

@include mq(pc) {
  %ex-pc-hidden {
    display: none;
  }
  %ex-pc-visible {
    display: block;
  }
}

//Base Font
%ex-font-family{
  font-family: 'Robot','Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3','Noto Sans Japanese', sans-serif;
}
%ex-font-aws{
   font-family: FontAwesome;
   display: inline-block;
   margin-right:.5em;
}

//コンテンツの余白
%ex-side-space{
  @include padding(null 2%);
}
%ex-height-space {
  @include padding(10px null);
}

%ex-transition-base {
  transition: all 0.6s ease-in-out;
}

/* FONTS
   ---------------------------------------------------------- */
%ex-font-xxlrg{
  @include cnt-font-size($font-xlrg*1.5);
}
%ex-font-xlrg{
  @include cnt-font-size($font-xlrg);
}
%ex-font-lrg{
  @include cnt-font-size($font-lrg);
}
%ex-font-nml{
  @include cnt-font-size($font-nml);
}
%ex-font-sml{
  @include cnt-font-size($font-sml);
}
%ex-font-xsml{
  @include cnt-font-size($font-xsml);
}
%ex-font-xxsml{
  @include cnt-font-size($font-xsml*.5);
}
%ex-web-font{font-family: 'Inika', serif;}

/* parts
   ---------------------------------------------------------- */

%ex-textarea{
  border-color: $color-border;
  min-height: 110px;
  margin-bottom: 0;
}
%ex-input-check-radio{
  .input {
    display: none;
    &:checked {
      //チェックされたときのデザイン
      & + .check-icon, & + .radio-icon {
        color: #FFF;
        background: $color-link;
        text-align: center;
        &:before {
          @extend %ex-font-aws;
          @extend %ex-pos-center;
          width: 9px;
        }
      }
      & + .check-icon{
        border: 3px solid $color-link;
        content: url('/images/common/input-check.svg');
        display: inline-block;
      }
      & + .radio-icon{
        border: 6px solid $color-link;
        content: url('/images/common/input-radio.svg');
        display: inline-block;
      }

    }
  }
  > .check-icon, > .radio-icon {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    width: auto;
    margin-right: .5em;
    height: 22px;
    width: 22px;
    border: 1px solid $color-border;
    background: #FFF;
  }
  > .check-icon{
    @include cnt-radius(4px);
  }

  > .radio-icon {
    @include cnt-circle;
  }
}


%ex-form-ids{
  //ラジオボタン、チェックボックスのflex用
  //組み込み用
  #jobnationwideform-publish_year,
  #joboccupationform-ids,
  #jobemploymentform-ids,
  #jobpeculiarityform-ids,
  #jobyearform-years,
  .jobareaform-ids {
    @include flx-row;
    .c-form-input-block{
      margin-right:15px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
%ex-section-title{
  padding: 20px 35px;
  background: $color-main;
  .title {
    @include cnt-font-size(30);
    font-weight: normal;
    color: #FFF;
    letter-spacing: .1em;
  }
}

%ex-section-title-content{
  .title{
    @include cnt-font-size(26);
    border-left: 6px solid $color-border;
    padding:.3em 10px;
  }
}

%ex-login-layout{
  //ログイン、新規アカウント作成用のレイアウト
  > .c-container{
    @include ex-container-side-space;
  }
  form{
    width:100%;
    margin-bottom: 0;
  }
  .w-login-layout {
    width:100%;
    padding-top: 15px;
    .b-box-account {
      padding-left: 0;
      padding-right: 0;
      width:100%;
      .w-box-account-title,
      .w-box-account-main,
      .w-box-account-bottom {
        padding-right: 90px;
        padding-left: 90px;
        @include mq(){
          padding-left: 40px;
          padding-right: 40px;
        }
      }
    }
    .w-login-cp{
      margin-top: 5px;
      text-align: center;
      .cp{
        @include cnt-font-size(12);
        color: #FFF;
      }
    }
  }
}

%ex-text-alert{
  //未記入のときに※必須項目とかに使ってます
  @include cnt-font-size(12);
  color: $color-alert;
}

%ex-button-toggle{
  //すべてを選択buttonの余白
  margin-left: 8px;
  margin-bottom: 8*2px;
  &:last-child {
    margin-bottom: 0;
  }
}
%ex-button-push{
  box-shadow: 0 4px 0 darken($color-link,20%);
  transition: .2s;
}
%ex-button-push-active{
  box-shadow: 0 0 0 darken($color-link,20%);
  transform: translateY(4px);
  opacity:1;
}
%ex-button-status-now{
  &.op-active{
    @extend %ex-button-push-active;
    opacity:.5;
    border: 1px solid $color-text;
    color: $color-text;
    &:hover,&:active,&:focus{
      opacity: 1;
    }
  }
  &.op-disable{
    &:hover,&:active,&:focus {
      @extend .c-button-push-line.op-active;
      opacity:.5;
      cursor: default;
    }
  }
}
%ex-offer-detail-page{
  //プレビューや求人詳細の共通レイアウト
  .c-table{
    th{
      //min-width:200px;
      @include mq(pc){
        max-width:200px;
        width:200px;
      }
    }
  }
  .pre-text {
    @extend %ex-break-word;
    white-space : pre-wrap;
  }
  .c-notification-status {
    margin-bottom: 40px;;
  }
  .w-offer-card {
    margin-bottom: 40px;
  }
  .w-offer-description-movie {
    margin-bottom: 60px;
  }
  .w-offer-description-image {
    @include flx-row;
    margin-bottom: 60px;
    width: calc(100% + 30px);
    .l-column-2 {
      @include flx-col-6;
      padding-right: 30px;
      margin-bottom: 60px;
    }

  }
  .w-offer-infomation {
    margin-bottom: 60px;
    .w-offer-infomation-title {
      margin-bottom: 30px;
    }
    .w-offer-infomation-content {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .w-offer-infomation-box-notes {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    .c-box-notes {

    }
  }
}

%ex-user-profile-edit{
  .w-edit-title{
    text-align: center;
    margin-bottom:8*5px;
    .title{
      @include cnt-font-size(24);
    }
  }
  .w-edit-form{

  }
  .l-section-block{
    width:100%;
    .c-form-input-block{
      margin-right: 0;
    }
    .item{
      @include mq{
        display: block;
        margin-top: 8*2px;
        width:100%;
        margin-left: 0;
      }
      .input{
        @include mq(pc){
          width:400px;
        }
      }
    }
  }
}

%ex-offer-list-table{
  .w-offer-list-table{
    margin-bottom: 40px;
    &.op-other{
      margin-bottom: 120px;
    }
    form,.c-button{
      margin-bottom: 0;
    }
    .c-table{
      th{
        min-width: 240px;
      }
      td{
        width: 100%;
      }
      .c-text-notes{
        margin-top: 5px;
      }
    }
    .w-bottom-btn{
      margin-top: 15px;
      text-align: right;
    }
  }
}

%error-contents-message{
  //エラー画面の共通レイアウト
  .w-contents-message {
    .c-button {
      margin-right: 8*2px;
      margin-bottom: 8*2px;
    }
  }
}
