/*
 * Base Style
*/
body, html {
  @extend %ex-font-family;
  @include cnt-font-size($font-nml, 16);
  color: $color-text;
  min-height: 100vh;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  font-kerning: normal;
  background-color: $color-bg;
  position: relative;
  a {
    text-decoration: none;
    color: $color-link;
    @include cnt-link($color-link);
    &:hover {
      text-decoration: none;
      transition: all .5s;
      color: darken($color-link, 30%);
    }
  }
}

/*
---
name: Heading
tag:
- HTML
---

```jade
h1 見出しh1：夏目漱石著『吾輩は猫である』
h2 見出しh2：レオ・レオニ作『スイミー 小さなかしこいさかなのはなし』
h3 見出しh3：あまん きみこ作、上野 紀子絵『ちいちゃんのかげおくり』
h4 見出しh4：モンゴルの民話『スーホの白い馬』
h5 見出しh5：新美南吉作『手袋を買いに』
h6 見出しh6：芥川龍之介著『羅生門』
```
*/
h1, h2, h3, h4, h5, h6 {
  @extend %ex-font-family;
  line-height: 1.5;
}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

/*
---
name: Texts
tag:
- HTML
---

`<p>`
```jade
p これは言語みたいなものだ。アルファベットすなわち音階を学び、文すなわちコードを学ぶ。<br>そしてやがてホーンと即興で会話するようになる。即興で話すのはすばらしいことだと思うが、私には決して会得できないだろう。
p 私には決して会得できないだろう。しかし音楽ともなれば、私は即座によろこんで会話する。<br>そう、それがジャズ音楽のすべてだ。
```

`<dl>`
```jade
dl
    dt 定義リストタイトル（dt）
    dd これは定義リストです。(dd)
    dt 定義の定義
    dd
        | 物事、領域、何かについての意味の正確な文章や説明:
        em 詩を構成するものの定義。
    dt ギャラリーとはなにか
    dd
        | WordPress 2.5 から導入された、投稿に添付された画像を展示するための機能です。同じように、投稿を編集中にアップロードすると、そのファイルは「投稿に添付」されます。
dl
    dt Gravatar (グラバター)
    dd
        | グラバターとはグローバルに認識されるアバター (あるユーザーを表すグラフィックイメージや写真)
        | です。グラバターはメールアドレスと紐づいていて、Gravatar.com
        | サービスによって管理されています。このサービスを利用すると、ブログ所有者は自分のブログを設定することによりコメント欄にユーザーのグラバターを表示
        | させることができます。

```

`ul`
```jade
ul
    li
        | リスト項目 1
        ul
            li
                | リスト項目 1
                ul
                    li リスト項目 1
                    li リスト項目 2
                    li リスト項目 3
                    li リスト項目 4
            li リスト項目 2
            li リスト項目 3
            li リスト項目 4
    li リスト項目 2
    li リスト項目 3
    li リスト項目 4
```

`ol`
```jade
ol
    li
        | リスト項目 1
        ol
            li
                | リスト項目 1
                ol
                    li リスト項目 1
                    li リスト項目 2
                    li リスト項目 3
                    li リスト項目 4
            li リスト項目 2
            li リスト項目 3
            li リスト項目 4
    li リスト項目 2
    li リスト項目 3
    li リスト項目 4
```

*/

p {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem;
}

ul, ol, li, dl, dd, dt {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  margin-right: 0;
  margin-left: 0;
}

ul, ol {
  ul, ol {
    margin: 1rem 0 1.5rem 1.5rem;
    font-size: 90%;
  }
}

li {
  > ul, > ol {
    margin-bottom: 0;
  }
}

dl {
  dt {
    font-weight: bold;
    margin-bottom: .3rem;
  }
  dd {
    margin-left: 0;
    margin-bottom: 1.2rem;
    &:last-child{
      margin-bottom: 0;
    }
  }
}

/*
---
name: Table
tag:
- HTML
---
```jade
table
  thead
   tr
     th 社員
     th 給料
     th 備考
  tbody
    tr
      th
        a(href='http://example.org/') 山田太郎
      td 1ドル
      td スティーブ・ジョブズが必要なサラリーと同じ額。
    tr
      th
        a(href='http://example.org/') 田中花子
      td 1,000万円
      td ブログを書くために必要になる資金。
    tr
      th
        a(href='http://example.org/') 山本次郎
      td 1億円
      td 百聞は一見にしかず、ということで、カメラマンはブロガーの100倍。
    tr
      th
        a(href='http://example.org/') 中山愛子
      td 10億円
      td 特に理由は要りません。
```
*/
table {
  width: 100%;
  th {
    text-align: left;
    font-weight: bold;
    @include mq(pc) {
      white-space: nowrap;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

//日本語では斜体を使用しないためリセットします。
[lang="ja"] {
  i,
  cite,
  em,
  address,
  dfn {
    font-style: normal;
  }
}

code,
pre {
  font-family: Consolas, Menlo, Courier, monospace;
}

h1, h2, h3, h4, h5, h6,
ul, ol, dl,
blockquote, address,
hr,
table,
fieldset, figure,
pre {
  margin-top: 0;
  margin-bottom: 0;
}

label {
  font-weight: normal;
}

[src$=".svg"], [data$=".svg"] {
  width: auto;
}

figure {
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

/*
---
name: Blockquote
tag:
- HTML
---

```jade
blockquote
  p ハングリーであれ、愚かであれ。
  p
    code cite
    |  参照を含む複数行の引用。
blockquote
  p これは言語みたいなものだ。アルファベットすなわち音階を学び、文すなわちコードを学ぶ。そしてやがてホーンと即興で会話するようになる。即興で話すのはすばらしいことだと思うが、私には決して会得できないだろう。しかし音楽ともなれば、私は即座によろこんで会話する。そう、それがジャズ音楽のすべてだ。
```
*/

blockquote {
  background-color: $color-bg-light;
  padding: 1em 1em 1em 3em;
  position: relative;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  p {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

blockquote:before {
  content: "“";
  font-size: 400%;
  line-height: 1em;
  font-family: "ＭＳ Ｐゴシック", sans-serif;
  color: $gray;
  position: absolute;
  left: 0;
  top: 0;
}

// Forms
//––––––––––––––––––––––––––––––––––––––––––––––––––

/*
---
name: Button
tag:
- form
- HTML
---

```jade
button ボタン
```
*/

button {
  @extend %ex-font-family;
  display: inline-block;
  padding: .5rem 30px;
  color: $color-link;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #FFF;
  border-radius: $global-radius;
  border: 1px solid $color-border;
  cursor: pointer;
  box-sizing: border-box;
  margin-bottom: 0;

  &:hover, &:focus {
    color: $gray-dark;
    border-color: lighten($gray-dark, 33.3%);
    outline: 0;
  }

  &.button-primary:hover, &.button-primary:focus {
    color: #fff;
    background-color: $color-link;
    border-color: $color-link;
  }
}


/*
---
name: input-button
tag:
- form
- HTML
---

```jade
input(type="submit" value="submit")
input(type='reset' value='reset')
input(type='button' value='button')
```
*/

input {
  &[type="submit"],
  &[type="reset"],
  &[type="button"] {
    @extend %ex-font-family;
    display: inline-block;
    padding: .5rem 30px;
    color: $color-link;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: .1rem;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    background-color: #FFF;
    border-radius: $global-radius;
    border: 1px solid $color-border;
    cursor: pointer;
    box-sizing: border-box;
    margin-bottom: 0;
  }
}

input {
  &[type="submit"]:hover,
  &[type="reset"]:hover,
  &[type="button"]:hover,
  &[type="submit"]:focus,
  &[type="reset"]:focus,
  &[type="button"]:focus {
    color: $gray-dark;
    border-color: lighten($gray-dark, 33.3%);
    outline: 0;
  }
}

input {
  &[type="submit"].button-primary,
  &[type="reset"].button-primary,
  &[type="button"].button-primary {
    color: #fff;
    background-color: #FFF;
    border-color: $color-border;
  }
}

input {
  &[type="submit"].button-primary:hover,
  &[type="reset"].button-primary:hover,
  &[type="button"].button-primary:hover,
  &[type="submit"].button-primary:focus,
  &[type="reset"].button-primary:focus,
  &[type="button"].button-primary:focus {
    color: #fff;
    background-color: $color-link;
    border-color: $color-link;
  }
}

/*
---
name: input
tag:
- form
- HTML
---

```jade
input(type="email" placeholder="email")
input(type="email" value="email")
input(type='number' placeholder="number")
input(type='number' value='000')
input(type='search' placeholder="search")
input(type='search' value='search')
input(type='text'  placeholder="text")
input(type='text' value='text')
input(type='tel' placeholder="tel")
input(type='tel' value='tel')
input(type='url'  placeholder="url")
input(type='url' value='url')
input(type='date' placeholder="date")
input(type='date' value='date')
input(type='password' placeholder="password")
input(type='password' value='password')
```
*/

input {
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="date"],
  &[type="password"] {
    height: 38px;
    padding: 6px 10px; // The 6px vertically centers text on FF, ignored by Webkit
    background-color: #fff;
    border: 1px solid lighten($color-border, 8.8%);
    border-radius: $global-radius;
    box-shadow: none;
    box-sizing: border-box;
    border-color: $color-border;
    font-weight: normal;
    width: 100%;
  }
  &[type="email"]:focus,
  &[type="number"]:focus,
  &[type="search"]:focus,
  &[type="text"]:focus,
  &[type="tel"]:focus,
  &[type="url"]:focus,
  &[type="date"]:focus,
  &[type="password"]:focus {
    border: 1px solid $color-link;
    outline: 0;
  }

  // Removes awkward default styles on some inputs for iOS
  &[type="email"],
  &[type="number"],
  &[type="search"],
  &[type="text"],
  &[type="tel"],
  &[type="url"],
  &[type="date"],
  &[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  &[type="checkbox"],
  &[type="radio"] {
    display: inline;
    margin-right: 8px;
    margin-left: 8*2px;
    margin-bottom: 8px;
  }


}

//placeholder
@include cnt-placeholder{
  color: $color-placeholder;
}

input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem;
}

pre,
figure,
form {
  margin-bottom: 1.2rem;
}

textarea,
select {
  height: 38px;
  padding: 8*2px 8*2px;
  background-color: #fff;
  border: 1px solid lighten($color-border, 8.8%);
  border-radius: $global-radius;
  box-shadow: none;
  box-sizing: border-box;
  font-weight: normal;
  &:focus {
    border: 1px solid $color-link;
    outline: 0;
  }
}

/*
---
name: other
tag:
- form
- HTML
---

```jade
input(type='checkbox' value='0' name='check')
|check
input(type='radio' value='1' name='radio')
|radio
```

```jade
select(name='blood')
  option(value='A') A型
  option(value='B') B型
  option(value='O') O型
  option(value='AB') AB型
```

```jade
textarea ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
textarea(placeholder="テキストを入力してください")

```

*/

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 180px;
  width: 100%;

}

label,
legend {
  display: block;
  margin-bottom: 8px;
  //font-weight: 600;
}

fieldset {
  padding: 0;
  border-width: 0;
}

