/*
 * BackGround Style
*/

/*
---
name: モーダルの背景
tag:
  - modal
---

```jade
.b-bg-modal-wrap
  .w-modal-bg-block
    .l-center-middle
      p ここにウインドウとか何か入ります。

```
*/

.b-bg-modal-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  .w-modal-bg-block {
    width: 100vw;
    height: 100vh;
    background: rgba(#000, 0.6);
  }
  .l-center-middle {
    @include flx-row;
    @include flx-middle;
    @include flx-center;
    width: 100%;
    height: 100vh;
  }
}
