/*
 * Box Style
*/
/*
---
name: 警告用
tag:
  - box
  - error
---


```jade
.c-box-error
  .error-message
    p ここにエラーメッセージが入ります。
    p ここにエラーメッセージが入ります。
```
*/
.c-box-error{
  @include cnt-radius(4px);
  background: #f8d7da;
  padding: 8*2px;
  .error-message{
    color: $color-alert;
    p{
      margin-top: 0;
      line-height:1.5;
      margin-bottom:.6em;
    }
    @extend %ex-p-bottom;
  }
}

/*
---
name: 汎用
tag:
  - box
---

囲い線あり
```jade
.c-box-border
    p ここにテキストが入ります。
    p ここにテキストが入ります。
```

背景ver
```jade
.c-box-bg
    p ここにテキストが入ります。
    p ここにテキストが入ります。
```
*/
.c-box-border{
  padding: 8*2px;
  border: 2px solid $color-border;
  @extend %ex-p-bottom;

}
.c-box-bg{
  padding: 8*2px;
  background: $color-bg;
  &.op-bg-light{
    background: $color-bg-light;
  }
  &.op-bg-lighrt-dark{
    background: $color-bg-light-dark;
  }
  @extend %ex-p-bottom;
}

/*
---
name: ポイント紹介
tag:
  - box
---

```jade
.b-box-point
  .title タイトル
  .thumbnail
    img(src='//placehold.jp/3d4070/ffffff/600x400.png?text=')
  .text
    p ここにテキストが入ります。
    p ここにテキストが入ります。
```

```jade
.b-box-point-list
  .w-box-point-list
    .l-column
      - for (var i = 0; i < 4; i++)
        .l-column-4
          .b-box-point
            .title タイトル
                .thumbnail
                  img(src='//placehold.jp/3d4070/ffffff/600x400.png?text=')
            .text
              p ここにテキストが入ります。
              p ここにテキストが入ります。
```
*/
.b-box-point{
  border: 1px solid $color-border;
  padding: 8px;
  .title{
    @include cnt-font-size(25);
    margin-bottom:8px;
    color: $color-main;
    text-align: center;
  }
  .thumbnail{
    margintop: 8*2px;
    margin-bottom: 8*2px;
    img{
      width: 100%;
    }
  }
  .text{
    line-height:1.5;
    @extend %ex-p-bottom;
  }
}

.b-box-point-list{
  padding: 8*5px 0;
  .w-box-point-list{
    .l-column{
      @include mq(pc){
        @include flx-row;
        @include flx-center;
      }
      .l-column-4{
        @include mq(pc) {
          @include flx-col-3;
          padding-left: 8*2px;
          padding-right: 8*2px;
          @include cnt-font-size(14);
        }
        @include mq() {
          margin-bottom:8*6px;
          &:last-child{
            margin-bottom:0;
          }
        }
      }
    }
  }
}

/*
---
name: 背景付き注釈
tag:
  - box
  - notes
---

```jade
.c-box-notes
    p ここにテキストが入ります。
    p ここにテキストが入ります。
    ul
      li ここにテキストが入ります。
      li ここにテキストが入ります。
      li ここにテキストが入ります。
```
*/
.c-box-notes{
  @include cnt-font-size(14);
  background: $color-table;
  line-height: 1.8;
  padding: 8*2px;
  > p{
    @include cnt-font-size(14);
  }
  @extend %ex-p-bottom;
  ul{
    padding-left: 8*2px;
    li{

      list-style: disc;
    }
  }
}
