/*
 * breadcrumb Style
*/

/*
---
name: パンくず
tag:
  - breadcrumb
---

```jade
.w-breadcrumb
  .c-breadcrumb
      li ぺージ名
      li ぺージ名
```
*/
.c-breadcrumb {
  margin-bottom: 0;
  padding-left: 0;
  @include cnt-font-size(12);

  .w-breadcrumb & {
    @extend .c-container;
    padding-top: 8 * 2px;
    padding-bottom: 8 * 2px;
  }
  li {
    display: inline;
    margin-bottom: 0;
    list-style: none;
    //font-weight: bold;
    &:after {
      padding: 0 8px;
      color: silver;
      font-family: FontAwesome;
      content: '\f105';
    }
    &:last-child:after {
      content: '';
    }
    a {
      color: $color-link;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

/*
---
name: ステップ
tag:
  - breadcrumb
  - step
---

```jade
ol.b-breadcrumb-multi-steps
    li.op-visited
        .w-multi-steps-wrap
            .w-multi-steps
                span.step 1
                span.stage 基本情報
    li.op-current
        .w-multi-steps-wrap
            .w-multi-steps
                span.step 2
                span.stage 詳細情報
    li
        .w-multi-steps-wrap
            .w-multi-steps
                span.step 3
                span.stage アンケート
    li
        .w-multi-steps-wrap
            .w-multi-steps
                span.step 4
                span.stage 内容確認

```
*/

.b-breadcrumb-multi-steps {
  @include flx-row;
  @include flx-center;
  @include cnt-font-size(14);
  > li {
    margin-bottom: 0;
    padding-left: 8 * 2px;
    &:first-child {
      padding-left: 0;
    }
    &.op-visited,
    &.op-current {
      .step {
        background: $color-main;
      }
    }
    &.op-visited {
      .stage {
        color: $color-text;
      }
    }
    &.op-current {
      .stage {
        color: $color-main;
      }
    }
    &:last-child {
      .w-multi-steps-wrap {
        &:after {
          padding-left: 0;
          content: '';
        }
      }
    }
  }
  .w-multi-steps-wrap {
    @include flx-row;
    @include flx-middle;
    &:after {
      @extend %ex-font-aws;
      margin-right: 0;
      padding-left: 8 * 2px;
      color: $color-text-light;
      content: '\f101';
      @include cnt-font-size(20);
    }
  }
  span.step {
    @include cnt-circle;
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 3px;
    color: #fff;
    background: $color-text-light;
  }
  span.stage {
    display: block;
    margin-top: 8px;
    color: $color-text-light;
  }
}
