/*
 * Footer Style
*/

/*
---
name: SNSアイコンの羅列
tag:
  - footer
---

```jade
.c-footer-icon-list
  ul.icon-list
    - for (var i = 0; i < 4; i++)
      .list
        a(href='#todo')
          img(src='//placehold.jp/3d4070/ffffff/60x60.png?text=')
```
*/

.c-footer-icon-list {
  padding: 8 * 2px;
  background: $color-bg-light-dark;
  ul.icon-list {
    @include flx-row;
    @include flx-middle;
    @include flx-center;
    .list {
      margin-right: 8 * 2px;
      &:last-child {
        margin-right: 0;
      }
      a {
        @include cnt-hover;
      }
    }
  }
}

/*
---
name: コピーライト
tag:
  - footer
---

```jade
.b-footer-copy
  .w-copy
    p.copy Copyright© ここに名前, All Rights Reserved.
```
*/

.b-footer-copy {
  .w-copy {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color: #fff;
    text-align: center;
    background: $color-text-light;
  }
  .copy {
    @include cnt-font-size(10);
    margin-bottom: 0;
  }
}
