/*
 * Form Style
*/
%ex-input {
  &.input {
    margin-bottom: 0;
    width: 100%;
  }
}

/*
---
name: Input Group
tag:
  - form
  - checkbox
---

```jade
.b-form-input-block
  label
    span.name タイトル
    input(type='text')
    .w-error-message ここにエラーメッセージが入ります。
```

errorの場合
```jade
.b-form-input-block
  label.op-error
    span.name タイトル
    input(type='text')
    .w-error-message ここにエラーメッセージが入ります。
```
2列の場合
```jade
.b-form-input-block
  .l-flex
    .l-column2
        label.op-error
          span.name タイトル
          input(type='text')
          .w-error-message ここにエラーメッセージが入ります。
    .l-column2
        label.op-error
          input(type='text')
          .w-error-message ここにエラーメッセージが入ります。

```


*/

/*
---
name: チェックボックス
tag:
  - form
  - checkbox
---

```jade
.b-form-input-block.op-select-item
  label
    input(type='checkbox', name='checkbox01[]')
    span.form-item-check チェックボックス01
  label
    input(type='checkbox', name='checkbox01[]')
    span.form-item-check チェックボックス02
  label
    input(type='checkbox', name='checkbox01[]')
    span.form-item-check チェックボックス03
```
*/

/*
---
name: ラジオボタンカスタマイズ
tag:
  - form
  - radiobutton
---

```jade
.b-form-input-block.op-select-item
  label
    input(type='radio', name='radio01')
    span.form-item-radio チェックボックス01
  label
    input(type='radio', name='radio01')
    span.form-item-radio チェックボックス02
  label
    input(type='radio', name='radio01')
    span.form-item-radio チェックボックス03
```
*/

.b-form-input-block {
  margin-bottom: -8px;
  overflow: hidden;
  &.op-select-item { //ラジオボタンやチェックボックス用
    label {
      display: inline-block;
      margin-right: 8*3px;
      font-weight: normal;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  > .l-flex {
    @include flx-row;
    @include flx-bottom;
    width: calc(100% + 8 * 3px);
    .l-column2 {
      @include flx-col-6;
      padding-right: 8*3px;
    }
  }
  .w-error-message {
    display: none;
  }
  label {
    &.op-error {
      input {
        border: 1px solid $color-alert;
        background: lighten($color-alert, 40%);
        transition: .5s all;
      }
      .w-error-message {
        @include cnt-font-size(14);
        display: block;
        color: $color-alert;
        margin-top: 8px;

      }
    }
  }
  .name {
    @include cnt-font-size(14);
    display: block;
    margin-bottom: .8px;
    text-align: left;
    font-weight: bold;
    &.op-name-light {
      color: $color-text-light;
    }
    &.op-text-normal {
      font-weight: normal;
    }
  }
  textarea {
    @extend %ex-textarea;
  }
  input, textarea {
    @extend %ex-input;
    margin-bottom: 0;
  }

  input[type=checkbox], input[type=radio] {
    display: none;
    &:checked + .form-item-check, &:checked + .form-item-radio {
      color: $color-link;
    }
    &:checked + .form-item-check::after, &:checked + .form-item-radio::after {
      content: "";
      display: block;
      position: absolute;
    }
    &:checked + .form-item-check::after {
      top: 0;
      left: 5px;
      width: 7px;
      height: 14px;
      transform: rotate(40deg);
      border-bottom: 3px solid $color-link;
      border-right: 3px solid $color-link;
    }
    &:checked + .form-item-radio::after {
      top: 8px;
      left: 3px;
      width: 11px;
      height: 11px;
      background: $color-link;
      border-radius: 50%;
    }
  }

  .form-item-check, .form-item-radio {
    @include flx-row;
    @include flx-middle;
    position: relative;
    padding-left: 20px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid #999;
    }
  }
  .form-item-check {
    &::before {
      border-radius: 4px;
    }
  }
  .form-item-radio {
    &::before {
      border-radius: 100%;
    }
  }

  input[type=submit], input[type=reset], input[type=button] {
    &.c-form-button {
      min-width: 200px;
    }
  }
}







