/*
 * Icon Style
*/
.c-icon-circle {
  @include flx-row;
  @include flx-middle;
  @include flx-center;
  @include cnt-circle;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 1px solid $color-border;
}
