/*
 * layout Style
*/
.c-layout-full-height{
  min-height: 100vh;
  position: relative;
  @include flx-row;
  > .w-global-footer-global-cp{
    align-self: flex-end;
  }
}

.b-layout-form-registration{
  >.w-layout-section-input{
    margin-bottom: 30px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  > .w-save-button{
    margin-top:8*6px;
    text-align: center;
    padding-left:8*3px;
    padding-right:8*3px;
  }
}
