/*
 * news Style
*/

/*
---
name: news
tag:
  - news
  - list
---

ニュース用

```jade
ul.c-news
  li
    .day 2000/00/00
    .text: a(href='#todo') ここにニュースの内容が入ります。
  li
    .day 2000/00/00
    .text: a(href='#todo') ここにニュースの内容が入ります。
```
*/

%ex-news{
  margin-bottom: 0;
  li{
    @include cnt-font-size(14);
    border-bottom:1px solid $color-border;
    padding-bottom: 8*2px;
    margin-bottom: 8*2px;
    &:last-child{
      margin-bottom: 0;
    }
    a{
      @include cnt-link($color-link);
      @include cnt-hover;
    }
  }
}

.c-news{
  @extend %ex-news;
  li{
    @include flx-row;
  }
  .day{
    margin-right: .5em;
  }
  .text{

  }
}

/*
---
tag:
  - news
  - list
---

```jade
ul.c-news-line
  li
    .day 2000/00/0000
    .text: a(href='#todo') ここにニュースの内容が入ります。
```
*/

.c-news-line{
  @extend %ex-news;
  li{

  }
  .day{

  }
  .text{
    a{
      @include cnt-font-size(16);
      display: block;
      line-height: 1.5;
    }
  }
}




