/*
notification Style
*/

/*
---
name: 通知
tag:
  - alert
  - notification
---

```jade
.c-notification-status 1

```
```jade
.c-notification-badge 00
```
*/

.c-notification-status {
  padding: 0.5em;
  color: #fff;
  text-align: center;
  background: $color-alert;
}
.c-notification-badge {
  @include flx-row;
  @include flx-middle;
  @include flx-center;
  @include cnt-circle;
  @include cnt-font-size(12);
  width: 30px;
  height: 30px;
  color: #fff;
  line-height: 1;
  text-align: center;
  background: $color-alert;
}
