/*
 * pager Style
*/

.c-pager {
  @include cnt-radius(4px);
  @include cnt-font-size(14);
  display: inline-block;
  min-width: 1.8em;
  padding: 4px;
  color: $color-link;
  background: #fff;
  border: 1px solid $color-link;
  a,
  span {
    &:hover,
    &:active,
    &:focus {
      color: $color-link;
      text-decoration: none;
      border: 1px solid #fff;
    }
  }
  &.op-current {
    background: $color-link;
    a,
    span {
      color: #fff;
      @include cnt-link;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $color-link;
        cursor: default;
      }
    }
  }
}

/*
---
name: ページャー
tag:
  - nav
  - pager
---

```jade
.b-pager
    ul.w-pager
      li.c-pager 1
        a(href='#todo')
      li.c-pager.op-current
        span(href='#todo') 2
      li.c-pager
        a(href='#todo') 3
      li.c-pager
        a(href='#todo') 4
```

*/
.b-pager {
  margin-bottom: 0;
  padding: 8px;
  background: $color-bg-light-dark;
  .w-pager {
    @include flx-row;
    @include flx-center;
    @include flx-middle;
    margin-bottom: -8 * 2px;
    .c-pager {
      margin-right: 8 * 2px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .c-pager {
    margin-bottom: 8 * 2px;
  }
}
