/*
 * Table Style
*/
%ex-section-title {
  padding: 20px 35px;
  background: $color-main;
  .title {
    @include cnt-font-size(30);
    color: #fff;
    font-weight: normal;
    letter-spacing: 0.1em;
  }
}
%ex-table {
  width: 100%;
  margin-bottom: 0;
  border: 1px solid $color-border;
  tr {
    border: none;
    border-bottom: 1px solid $color-border-light;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq() {
      border: none;
    }
  }
  th,
  td {
    padding: 8px 8px;
    line-height: 1.8;
    @include mq() {
      display: block;
      width: 100%;
    }
  }
  th {
    @extend %ex-ellipsis;
    @include cnt-font-size(14);
    color: $color-text-light-dark;
    font-weight: normal;
    font-weight: bold;
    text-align: left;
    vertical-align: top;
    background: $color-table;
  }
  td {
    @include cnt-font-size(14);
    width: 100%;
    vertical-align: top;
    background: #fff;
  }
  select,
  input,
  textarea,
  button {
    margin-bottom: 0;
  }
  textarea {
    width: 100%;
    min-height: 240px;
  }
}

%ex-table-none-border {
  margin-bottom: 0;
  border: none;
  tr {
    border: none;
    &:last-child {
      margin-bottom: 0;
      border-bottom: none;
      th {
        margin-bottom: 0;
      }
    }
  }
  th,
  td {
    display: table-cell;
    margin-bottom: 0;
    padding: 8px;
    vertical-align: top;
    background: #fff;
  }
  th {
    @extend %ex-ellipsis;
    @include cnt-font-size(14);
    font-weight: bold;
  }
  td {
    @extend %ex-break-word;
    @include cnt-font-size(14);
    width: 100%;
  }
}
/*
---
name: テーブル
tag:
  - table
---

```jade
table.c-table
  tr
    th タイトル
    td ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
  tr
    th タイトル
    td ここにテキストが入ります。ここにテキストが入ります。

```
```jade
table.b-table-none-border
  tr
    th タイトル
    td ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
  tr
    th タイトル
    td ここにテキストが入ります。ここにテキストが入ります。

```
*/

.c-table {
  @extend %ex-table;
}

table.b-table-none-border {
  @extend %ex-table-none-border;
  &.op-th-accent {
    th {
      color: #fff;
      background: $color-accent;
    }
  }
}

/*
---
name: テーブル
tag:
  - table
  - box
---

```jade
.b-table-detail
  .w-table-detail-title
    .title タイトル
  .w-table-detail-table
    table.c-table
      tr
        th タイトル
        td テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
      tr
        th タイトル
        td テキストテキストテキストテキスト
  .w-table-detail-button
    a(href='#todo').c-button-round ボタン

```
*/

.b-table-detail {
  .w-table-detail-title {
    .title {
      @include cnt-font-size(24);
      margin-bottom: 8px;
      padding-left: 8px;
    }
  }
  .w-table-detail-table {
    margin-bottom: 8 * 4px;
  }
  .w-table-detail-button {
    text-align: center;
  }
}
