/*
 * tag Style
*/
%ex-tag {
  @include cnt-radius(2em);
  @include cnt-font-size(12);
  display: inline-block;
  padding: 0.4em 1em;
  color: #fff;
  font-weight: normal;
  line-height: 1;
  letter-spacing: 0.1em;
  background: $color-link;
  border: 1px solid $color-link;
  &.op-required {
    background: $color-required;
    border: 1px solid $color-required;
  }
  &.op-disable {
    background: $color-disable;
    border: 1px solid $color-disable;
  }
  &.op-white {
    color: $color-text;
    background: #fff;
    border: 1px solid #fff;
  }
  &.op-alert {
    background: $color-alert;
    border: 1px solid $color-alert;
  }
  &.op-new {
    color: $color-alert;
    background: #fff;
    border: 1px solid #fff;
  }
  &.op-btn {
    @include cnt-font-size(16);
    @include cnt-hover;
    padding: 0.5em 1em;
    cursor: pointer;
  }
  &.op-square {
    @include cnt-radius(0);
    padding: 0.4em 0.5em;
  }
}

/*
---
name: タグ
tag:
  - tag
---


```jade
ul.b-tag-loop
  .list
    span.c-tag タグ
  .list
    span.c-tag タグ
  .list
    span.c-tag タグ

```
```jade
.c-tag-round タグ

```
*/

select.c-tag {
  padding-right: 1em;
  padding-left: 1em;
  border: none;
}

.c-tag {
  @extend %ex-tag;
  @include cnt-radius(4px);
}

.c-tag-round {
  @extend %ex-tag;
}

.b-tag-loop {
  @include flx-row;
  margin-bottom: -15px;
  .list {
    margin-right: 10px;
    margin-bottom: 15px;
  }
}
