/*
 * text Style
*/

/*
---
name: 注釈
tag:
  - tag
  - notes
---


```jade
ul.c-text-notes
  li ※ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。
  li ※ここにテキストが入ります。ここにテキストが入ります。
```
*/

.c-text-notes {
  @include cnt-font-size(12);
  color: $color-text-light;
  line-height: 1.2;
  margin-bottom: 0;
  p, li {
    @include cnt-font-size(12);
    padding-left: 1em;
    text-indent: -.6em;
  }
  a {
    display: inline-block;
    margin-right: .3em;
    margin-left: .3em;
    font-weight: bold;
  }
  p {
    color: $color-text-light;
    line-height: 1.5;
    margin-top: .5em;
    margin-bottom: 0;
  }
  li {
    margin-bottom: 8px;
  }
}
