/*
 * Title Style
*/

/*
---
name: 注釈
tag:
  - title
---


```jade
.c-title タイトル

```
*/

.c-title {
  @include cnt-font-size(24);
  text-align: center;
  &:after {
    display: block;
    width: 240px;
    height: 4px;
    margin-right: auto;
    margin-left: auto;
    background: $color-accent;
  }
}
