//- inlide file
extends /_include/_layout
include /_include/_mixin

append variables
    //- Required
    - var pageTitle= "";
    - var pageDescription= site.description.home;
    - var pageKeywords= site.keywords;
    //- Optional
    - var pageOgpTitle= "site.name";
    - var pageOgpImage= site.ogpImage
    - var pageLang= "ja";
    - var pageOgpType= "website";
    //- Not modified
    - var pageUrl= relativePath;
    - var pageDir= './';
    - var imgDir= '/images/';


    block meta

    block link

    block script


block body
    body.p-company--offer.p-company--offer-edit
            .c-layout-full-height
                .p-company-layout
                    .l-left
                        +sidebar--company
                    .l-right
                        .p-company-content
                            +section-title--company('求人リスト新規作成')
                            form.w-contents
                                .w-offer-status
                                    .l-left
                                        .w-tag-block
                                            .c-tag-status.op-running 公開
                                    .l-right
                                        .w-tag-text この記事は0000/00/00まで公開されています。

                                .w-contents-section
                                    .w-section-title-content--company
                                        +section-title-content--company('基本情報')
                                    .w-offer--company-edit
                                        .b-layout-form-registration
                                            //loop start
                                            .w-layout-section-input
                                                .b-form-input-list
                                                    label.c-form-input-block
                                                        .w-tag
                                                            .tag 必須
                                                            span.name.op-bold 公開時期
                                                        //YIIのUIが上手く再現できなかったので、デートピーッカーをシステムで吐いて頂けたら、後日そのソースで修正します。#todo
                                                    .l-column
                                                        .l-column-6
                                                            input(type='date').input
                                                        .l-column-6
                                                            input(type='date').input

                                            .w-layout-section-input
                                                .b-form-input-list
                                                    .c-form-input-block
                                                        .w-tag
                                                            .tag 必須
                                                            span.name.op-bold 募集資格
                                                    .l-checkbox
                                                        +form-input-check('募集対象1','2017年度卒業予定','募集')
                                                        +form-input-check('募集対象2','2018年度卒業予定','募集')

                                            .w-layout-section-input
                                                .b-form-input-list
                                                    label.c-form-input-block
                                                        .w-tag
                                                            .tag 必須
                                                            span.name.op-bold 求人タイトル
                                                        input(type='text').input

                                            .w-layout-section-input
                                                .b-form-input-list
                                                    .c-form-input-block
                                                        .w-tag
                                                            .tag 必須
                                                            span.name.op-bold 勤務地候補
                                                    //loop start
                                                    .w-area
                                                        .b-button-toggle
                                                            .w-title
                                                                .toggle-title 東京
                                                            .w-button
                                                                button.c-button-line.op-mini すべて選択
                                                                button.c-button-line.op-mini すべて解除
                                                        .l-checkbox
                                                            +form-input-check('東京1','世田谷区')
                                                            +form-input-check('東京2','目黒区')
                                                    .w-area
                                                        .b-button-toggle
                                                            .w-title
                                                                .toggle-title 大阪
                                                            .w-button
                                                                button.c-button-line.op-mini すべて選択
                                                                button.c-button-line.op-mini すべて解除
                                                        .l-checkbox
                                                            +form-input-check('大阪1','大阪市')
                                                            +form-input-check('大阪2','堺市')
                                                    //loop end
                                                    .w-add
                                                        .link-block
                                                            button.c-button-text 追加する

                                            .w-layout-section-input
                                                .b-form-input-list
                                                    label.c-form-input-block
                                                        .w-tag
                                                            //.tag 必須
                                                            span.name.op-bold 給与
                                                    input(type='text').input
                                            .w-layout-section-input
                                                .b-form-input-list
                                                    label.c-form-input-block
                                                        .w-tag
                                                            .tag 必須
                                                            span.name.op-bold 勤務時間
                                                    textarea.input

                                            .w-layout-section-input
                                                .b-form-input-list
                                                    label.c-form-input-block
                                                        .w-tag
                                                            .tag 必須
                                                            span.name.op-bold アピールタイトル
                                                    textarea.input

                                            .w-layout-section-input
                                                .b-form-input-list
                                                    label.c-form-input-block
                                                        .w-tag
                                                            .tag 必須
                                                            span.name.op-bold 詳細文
                                                    textarea.input

                                            .w-layout-section-input
                                                .b-form-input-list
                                                    .c-form-input-block
                                                        .w-tag
                                                            .tag 必須
                                                            span.name.op-bold 職種・業種
                                                    .l-checkbox
                                                        each val in ["調剤薬局", "ドラッグストア（調剤併設）", "ドラッグストア（OTCのみ）", "CRO/SMO", "医薬品メーカー（研究開発・生産技術）","医薬品卸（学術・管理薬剤師等）","医薬品メーカー（MR）","病院・クリニック","教育","化学メーカー","化粧品メーカー","食品メーカー","公務員","その他"]
                                                            +form-input-check(val,val)

                                            .w-layout-section-input
                                                .b-form-input-list
                                                    .c-form-input-block
                                                        .w-tag
                                                            .tag 必須
                                                            span.name.op-bold 雇用形態
                                                    .l-checkbox
                                                        each val in ["正社員", "契約社員", "パート・アルバイト", "業務委託・その他"]
                                                            +form-input-check(val,val)

                                            .w-layout-section-input
                                                .b-form-input-list
                                                    .c-form-input-block
                                                        .w-tag
                                                            span.name.op-bold サムネイル写真
                                                    .w-add-button
                                                        .c-button 写真登録
                                                    .w-notes
                                                        .c-text-notes ※写真は会社のロゴ画像か店舗の外観写真を登録してください。

                                            //.w-layout-section-input

                                            //loop end

                                .w-contents-section
                                    //PR内容 start
                                    .w-section-title-content--company
                                        +section-title-content--company('PR内容')
                                    .w-offer--company
                                        .b-layout-form-registration

                                            //PR動画Block
                                            .w-layout-section-input
                                                .b-form-input-list
                                                    .c-form-input-block
                                                        .w-tag
                                                            span.name.op-bold PR動画
                                                    .l-column
                                                        .l-column-6
                                                            .l-middle-center
                                                                .w-button
                                                                    .c-button 動画埋め込み
                                                        .l-column-6
                                                                .w-textarea
                                                                    .texatea-block
                                                                        textarea.input
                                                    //previewの場合
                                                    .l-column
                                                        .l-column-6
                                                            .l-middle-center
                                                                //ここを変更
                                                                .w-preview-movie
                                                                    iframe(width="560" height="315" src="https://www.youtube.com/embed/RJVQVP1PRP8?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen)
                                                                .w-edit
                                                                    button.c-button.op-mini 変更
                                                                    button.c-button.op-mini.op-alert 削除
                                                        .l-column-6
                                                                .w-textarea
                                                                    .texatea-block
                                                                        textarea.input
                                                    //END previewの場合

                                            hr.c-line

                                            //PR画像Block
                                            .w-layout-section-input
                                                .b-form-input-list
                                                    .c-form-input-block
                                                        .w-tag
                                                            span.name.op-bold PR画像
                                                    .l-column
                                                        - for (var i = 1; i < 6; i++)
                                                            .w-image-pickup.l-column-6
                                                                .l-middle-center
                                                                    .w-button
                                                                        .c-button 動画埋め込み #{i}
                                                                .w-textarea
                                                                    .texatea-block
                                                                        textarea.input
                                                        //previewの場合
                                                        .w-image-pickup.l-column-6
                                                            .l-middle-center
                                                                //ここを変更
                                                                .w-preview-image
                                                                    img(src='//placehold.jp/3d4070/ffffff/400x600.png?text=',alt='')
                                                                .w-edit
                                                                    button.c-button.op-mini 変更
                                                                    button.c-button.op-mini.op-alert 削除
                                                            .w-textarea
                                                                .texatea-block
                                                                    textarea.input
                                                        //END previewの場合

                                    //PR内容 END

                                .w-contents-section
                                    //採用概要 start
                                    .w-section-title-content--company
                                        +section-title-content--company('採用概要')
                                    .w-offer--company
                                        .b-layout-form-registration
                                            //loop START
                                            +layout-section-input-textarea('応募資格')
                                            +layout-section-input-textarea('応募方法')
                                            +layout-section-input-textarea('提出書類')
                                            +layout-section-input-textarea('選考方法')
                                            +layout-section-input-textarea('募集職種・分野')
                                            +layout-section-input-textarea('仕事内容')
                                            +layout-section-input-textarea('採用予定人数')
                                            +layout-section-input-textarea('採用実績校')
                                            +layout-section-input-textarea('備考')
                                            //loop END
                                        //.b-layout-form-registration
                                    //採用概要 END

                                .w-contents-section
                                    //募集要項 START
                                    .w-section-title-content--company
                                        +section-title-content--company('募集要項')
                                    .w-offer--company
                                        .b-layout-form-registration
                                            //loop START
                                            +layout-section-input-textarea('基本給')
                                            +layout-section-input-textarea('諸手当')
                                            +layout-section-input-textarea('昇給')
                                            +layout-section-input-textarea('賞与')
                                            +layout-section-input-textarea('賞与')
                                            +layout-section-input-textarea('社会保険')
                                            +layout-section-input-textarea('勤務時間')
                                            +layout-section-input-textarea('休日休暇')
                                            +layout-section-input-textarea('待遇・福利厚生・社内制度')
                                            +layout-section-input-textarea('教育・研修制度')
                                            +layout-section-input-textarea('備考')
                                            //loop END
                                        //.b-layout-form-registration
                                    //採用概要 END

                                .w-contents-section
                                    //募集要項 START
                                    .w-section-title-content--company
                                        +section-title-content--company('問い合わせ先情報')
                                    .w-offer--company
                                        .b-layout-form-registration
                                            //loop START
                                            +layout-section-input-textarea('問い合わせ先')
                                            +layout-section-input-text('メールアドレス','email')
                                            +layout-section-input-textarea('備考')

                                            //loop END
                                        //.b-layout-form-registration

                                .w-bottom-fixed-box
                                    .b-fixed-next-button-bottom
                                            .l-column
                                                .l-column-4
                                                    .w-buttons
                                                        input(type='submit',value='保存').c-button
                                                //-.l-column-4
                                                    .w-buttons
                                                        input(type='submit',value='下書き保存').c-button.op-main
                                                .l-column-4
                                                    .w-buttons
                                                        input(type='submit',value='非公開').c-button.op-alert
                                                .l-column-4
                                                    .w-buttons
                                                        input(type='submit',value='プレビュー').c-button.op-main

                            //.w-contents

                +footer--company()


                //動画登録のモーダルウインドウ START
                //.p-modal-wrap--company-offer-eddit
                    .b-modal-wrap
                        .w-modal-bg-block
                            .l-center-middle
                                .b-window-add-url
                                    .w-input
                                        .c-form-input-block
                                            .w-tag
                                                span.name.op-bold URL
                                            input(type='url').input
                                            .w-note
                                                .c-text-notes 埋め込みたいYoutubeの動画のURLを入力してください。
                                    .w-btn-bottom
                                        .l-between
                                            button.c-button(data-selector='.modal-wrap') 更新
                                            button.c-button.op-alert(data-selector='.modal-wrap') 閉じる

                //動画登録のモーダルウインドウ END

                script.

