//- inlide file
extends /_include/_layout
include /_include/_mixin

append variables
    //- Required
    - var pageTitle= "";
    - var pageDescription= site.description.home;
    - var pageKeywords= site.keywords;
    //- Optional
    - var pageOgpTitle= "site.name";
    - var pageOgpImage= site.ogpImage
    - var pageLang= "ja";
    - var pageOgpType= "website";
    //- Not modified
    - var pageUrl= relativePath;
    - var pageDir= './';
    - var imgDir= '/images/';

    block meta

    block link

    block script

block body
    body.js-drawer.drawer--right.p-mypage.p-mypage--profile-edit
        .c-layout-full-height
            .p-mypage-layout
                +header(pageDir,'mypage')
                +mypage-header-nav
                +mypage-header-title('プロフィール編集（基本情報）')
                .w-mypage-content
                        .c-container.op-short
                            +profile-edit-basic
                            .w-save-button
                                a(href='#todo').c-button.op-block 更新する
                            //content END
            +footer()











