//- inlide file
extends /_include/_layout
include /_include/_mixin

append variables
    //- Required
    - var pageTitle= "";
    - var pageDescription= site.description.home;
    - var pageKeywords= site.keywords;
    //- Optional
    - var pageOgpTitle= "site.name";
    - var pageOgpImage= site.ogpImage
    - var pageLang= "ja";
    - var pageOgpType= "website";
    //- Not modified
    - var pageUrl= relativePath;
    - var pageDir= './';
    - var imgDir= '/images/';

    block meta

    block link

    block script

block body
    body.js-drawer.drawer--right.p-mypage.p-mypage--send
        .c-layout-full-height
            .p-mypage-layout
                +header(pageDir,'mypage')
                +mypage-header-nav
                +mypage-header-title('応募済み求人一覧')
                .w-mypage-content
                        .c-container.op-short
                            //content 開始
                            .w-content-archives-list
                                ul.b-list-content-archives
                                    +mypage-content-list('応募済','c-tag-status op-running',true)
                                    +mypage-content-list('不採用','c-tag-status op-lock',true)
                                    +mypage-content-list('応募済','c-tag-status op-running',true)
                                    +mypage-content-list('不採用','c-tag-status op-lock',true)
                                    +mypage-content-list('応募済','c-tag-status op-running',true)
                                    +mypage-content-list('応募済','c-tag-status op-running',true)
                                    +mypage-content-list('不採用','c-tag-status op-lock',true)
                                    +mypage-content-list('応募済','c-tag-status op-running',true)
                                    +mypage-content-list('不採用','c-tag-status op-lock',true)
                                    +mypage-content-list('応募済','c-tag-status op-running',true)
                            +global-pager
                            //content END
            +footer()











