//- inlide file
extends ./__template

block content_error
    .c-container.op-short
        .w-error-message
            .c-box-error
                .error-message
                    p 検索条件に合う求人求人は見つかりませんでした。
                    p 条件を変更してお探しください。

