extends ./__template

block content_search
    .c-container.op-short
        .b-list-offer-card-pages-wrap
            .w-offer-card-pages-head
                .b-pager-search
                    .w-pager-search
                        .l-left
                            .b-pager-search-number 該当求人数<span class="point-text">50</span>件中 1〜10件 を表示
                        .l-right
                            +pager

            .w-offer-card-pages-body
                .b-list-offer-card-loop
                    +list-offer-card(true)
                    +list-offer-card
                    +list-offer-card(true)
                    +list-offer-card(true)
            .w-offer-card-pages-bottom
            +global-pager
