//- inlide file
extends /_include/_layout
include /_include/_mixin

append variables
    //- Required
    - var pageTitle= "";
    - var pageDescription= site.description.home;
    - var pageKeywords= site.keywords;
    //- Optional
    - var pageOgpTitle= "site.name";
    - var pageOgpImage= site.ogpImage
    - var pageLang= "ja";
    - var pageOgpType= "website";
    //- Not modified
    - var pageUrl= relativePath;
    - var pageDir= './';
    - var imgDir= '/images/';


    block meta

    block link

    block script

block body
    body
        .b-container-pop-up
            .b-window-pop-up
                .w-pop-up-page-title
                    .title 動画の登録方法
                .w-pop-up-sec
                    .w-pop-up-sec-title
                        .title youtubeのアカウントをお持ちでない場合

                    .w-pop-up-sec-content
                        p youtubeのアカウントを作成して動画をアップロードしてください。
                        a(href='https://support.google.com/youtube/answer/161805?co=GENIE.Platform%3DDesktop&hl=ja',target='_blank').c-button アカウント作成について
                .w-pop-up-sec
                    .w-pop-up-sec-title
                        .title すでにyoutubeに動画をアップロードしている場合

                    .w-pop-up-sec-content
                        p youtubeのURLを求人原稿作成画面のPR動画の項目に入力ください。

                        div.w-captcha
                            img(src='/images/company/help/edit/cap1.jpg',alt='')
                        div.w-captcha
                            img(src='/images/company/help/edit/cap2.jpg',alt='')
                .w-pop-up-close
                    a(href='#',onclick="window.close(); return false;").c-button ウインドウを閉じる
