/*
 * grlobal Page Style
*/
.w-global-pager{
  margin-top:8*10px;
  margin-bottom: 8*5px;
  @include mq(){
    margin-top:8*5px;
    margin-bottom: 8px;
  }
}
.w-global-title{
  margin-bottom:8px;
}
.w-global-footer-global-cp{
  width:100%;
  margin-top:8*5px;
}
