/*
 * home Page Style
*/

.p-home {
  .b-banner-flating {
    max-width: 190px;
    top: 80px;
    right: 8*6px;

  }
  .w-page-header{
    margin-bottom: 8*5px;
  }
}

.p-home-mv {
  .w-home-mv-in {
    position: relative;
    //max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
    img {
      width: 100%;
    }
  }
  .w-mv {
    .mv-block {
      text-align: center;
    }
  }
  .w-character {
    position: absolute;
    bottom: -30px;
    right: -40px;
    max-width: 197px;
    @include mq(max2000) {
      width: 16vw;
      right: 10px;
    }
    .character-block {

    }
  }
}

.p-home-content {

}

/////////////////////
//page毎
/////////////////////
.p-home--top {
  .w-home-about {
    .w-home-point {
      margin-top: 8*10px;
    }
    .b-box-point-list {
      @include cnt-bg-fluid('/images/home/bg-about.jpg', cover);
      .w-box-point-list {
        @include ex-container-side-space;
        max-width: 1400px;
        margin-right: auto;
        margin-left: auto;
        //color: $color-text-light;
      }
    }
  }
}

.p-home--search {
  //検索結果
}

.p-home--offer-detail{
  //求人詳細
  @extend %ex-offer-detail-page;
  .w-offer-card{
    margin-bottom: 8*7px;
  }
  .w-intermediate-nav{
    background: $color-bg-light;
    padding-top:8*3px;
    padding-bottom:8*3px;
    margin-top:8*8px;
    margin-bottom:8*10px;
    .l-column{
      @include flx-row;
      @include flx-middle;
      @include flx-center;
      @include mq(){
        margin-bottom: -8*2px;
      }
      .l-column-4{
        width:100%;
        max-width:230px;
        padding-left: 8*2px;
        padding-right: 8*2px;
        @include mq(){
          margin-bottom: 8*2px;

        }
        .c-button{
          display: block;
        }
      }
    }
  }
  .w-offer-card{
    .b-list-offer-card{
      .w-offer-card-bottom-button{
        .l-special,.l-normal{
          @include flx-col-6;
          flex-grow: 0;
        }
      }
    }
  }

  .w-bottom-fixed-box{
    height: 138px;
    @include mq(pc){
      height:81px;
    }
    .w-buttons{
      .c-button{
        padding: .6em 1.5em;
        @extend %ex-button-status-now;
        &.op-active{
          background: #FFF;
        }
      }
    }
  }
}

.p-home--offer-send{
  //応募時のprofile編集
  @extend %ex-user-profile-edit;
  @extend %ex-offer-list-table;
  .w-breadcrumb-multi-steps{
    margin-top: 8*4px;
    margin-bottom: 8*8px;;
  }
  .w-offer-send-content{
    margin-top: 8*4px;
  }
  .w-next-button{
    margin-top: 8*4px;
    .l-column{
      @include flx-row;
      @include flx-center;
      .l-column-2{
        padding-left: 8*2px;
        padding-right: 8*2px;
      }
    }
  }
  .w-send-message{
    text-align: center;
    margin-bottom:8*6px;

  }
  .w-send-next-button{
    text-align: center;
    > .w-button{
      margin-bottom:8*4px;
    }
  }
}

.p-home--error {//エラー画面
  @extend %error-contents-message;
}