/*
 * login Page Style
*/

.p-login {
  background: $color-main;
}

.p-login-layout {
  @extend %ex-login-layout;
  @include mq(pc){
    @include flx-row;
    @include flx-middle;
    @include flx-center;
    min-height:calc(100vh - 25px);
  }
  .b-box-account{
    .w-box-account-main {
      @include mq(pc) {
        @include flx-row;
        flex-wrap: nowrap;
      }
      > .l-left, > .l-right {
        @include mq(pc){
          max-width: 100%;
        }
        @include mq(min800){
          min-width: 300px;
        }
      }
      > .l-center {
        @include mq(pc) {
          padding-left: 80px;
          padding-right: 80px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
        > .l-middle {
          @include mq(pc) {
            @include flx-row;
            @include flx-middle;
            vertical-align: middle;
            height: 100%;
          }
          &:after {
            @include mq(pc) {
              height: 100%;
              width: 1px;
              display: inline;
            }
          }
        }
        .w-icon-circle{
          @include mq(pc) {
            right: -25px;
          }
        }

      }
    }
  }
}

/////////////////////
//page毎
/////////////////////
.p-login-top {

}
