/*
 * password Page Style
*/
.p-password {
  .w-password-content {
    .message-block {
      text-align: center;
      margin-bottom: 4px;
    }
    .button-Block {
      margin-top: 8*4px;
      text-align: center;
    }
  }
}

.p-password-layout {
  width: 100%;
  .w-page-content {
    margin-top: 8*4px;
  }
}

/////////////////////
//page毎
/////////////////////
.p-password--top {
  .c-container {
    max-width:500px;
  }
}