$ggcRed50: #ffebee;
$ggcRed100: #ffcdd2;
$ggcRed200: #ef9a9a;
$ggcRed300: #e57373;
$ggcRed400: #ef5350;
$ggcRed500: #f44336;
$ggcRed600: #e53935;
$ggcRed700: #d32f2f;
$ggcRed800: #c62828;
$ggcRed900: #b71c1c;
$ggcRedA100: #ff8a80;
$ggcRedA200: #ff5252;
$ggcRedA400: #ff1744;
$ggcRedA700: #d50000;

$ggcPink50: #fce4ec;
$ggcPink100: #f8bbd0;
$ggcPink200: #f48fb1;
$ggcPink300: #f06292;
$ggcPink400: #ec407a;
$ggcPink500: #e91e63;
$ggcPink600: #d81b60;
$ggcPink700: #c2185b;
$ggcPink800: #ad1457;
$ggcPink900: #880e4f;
$ggcPinkA100: #ff80ab;
$ggcPinkA200: #ff4081;
$ggcPinkA400: #f50057;
$ggcPinkA700: #c51162;

$ggcPurple50: #f3e5f5;
$ggcPurple100: #e1bee7;
$ggcPurple200: #ce93d8;
$ggcPurple300: #ba68c8;
$ggcPurple400: #ab47bc;
$ggcPurple500: #9c27b0;
$ggcPurple600: #8e24aa;
$ggcPurple700: #7b1fa2;
$ggcPurple800: #6a1b9a;
$ggcPurple900: #4a148c;
$ggcPurpleA100: #ea80fc;
$ggcPurpleA200: #e040fb;
$ggcPurpleA400: #d500f9;
$ggcPurpleA700: #aa00ff;

$ggcDeepPurple50: #ede7f6;
$ggcDeepPurple100: #d1c4e9;
$ggcDeepPurple200: #b39ddb;
$ggcDeepPurple300: #9575cd;
$ggcDeepPurple400: #7e57c2;
$ggcDeepPurple500: #673ab7;
$ggcDeepPurple600: #5e35b1;
$ggcDeepPurple700: #512da8;
$ggcDeepPurple800: #4527a0;
$ggcDeepPurple900: #311b92;
$ggcDeepPurpleA100: #b388ff;
$ggcDeepPurpleA200: #7c4dff;
$ggcDeepPurpleA400: #651fff;
$ggcDeepPurpleA700: #6200ea;

$ggcIndigo50: #e8eaf6;
$ggcIndigo100: #c5cae9;
$ggcIndigo200: #9fa8da;
$ggcIndigo300: #7986cb;
$ggcIndigo400: #5c6bc0;
$ggcIndigo500: #3f51b5;
$ggcIndigo600: #3949ab;
$ggcIndigo700: #303f9f;
$ggcIndigo800: #283593;
$ggcIndigo900: #1a237e;
$ggcIndigoA100: #8c9eff;
$ggcIndigoA200: #536dfe;
$ggcIndigoA400: #3d5afe;
$ggcIndigoA700: #304ffe;

$ggcBlue50: #e3f2fd;
$ggcBlue100: #bbdefb;
$ggcBlue200: #90caf9;
$ggcBlue300: #64b5f6;
$ggcBlue400: #42a5f5;
$ggcBlue500: #2196f3;
$ggcBlue600: #1e88e5;
$ggcBlue700: #1976d2;
$ggcBlue800: #1565c0;
$ggcBlue900: #0d47a1;
$ggcBlueA100: #82b1ff;
$ggcBlueA200: #448aff;
$ggcBlueA400: #2979ff;
$ggcBlueA700: #2962ff;

$ggcLightBlue50: #e1f5fe;
$ggcLightBlue100: #b3e5fc;
$ggcLightBlue200: #81d4fa;
$ggcLightBlue300: #4fc3f7;
$ggcLightBlue400: #29b6f6;
$ggcLightBlue500: #03a9f4;
$ggcLightBlue600: #039be5;
$ggcLightBlue700: #0288d1;
$ggcLightBlue800: #0277bd;
$ggcLightBlue900: #01579b;
$ggcLightBlueA100: #80d8ff;
$ggcLightBlueA200: #40c4ff;
$ggcLightBlueA400: #00b0ff;
$ggcLightBlueA700: #0091ea;

$ggcCyan50: #e0f7fa;
$ggcCyan100: #b2ebf2;
$ggcCyan200: #80deea;
$ggcCyan300: #4dd0e1;
$ggcCyan400: #26c6da;
$ggcCyan500: #00bcd4;
$ggcCyan600: #00acc1;
$ggcCyan700: #0097a7;
$ggcCyan800: #00838f;
$ggcCyan900: #006064;
$ggcCyanA100: #84ffff;
$ggcCyanA200: #18ffff;
$ggcCyanA400: #00e5ff;
$ggcCyanA700: #00b8d4;

$ggcTeal50: #e0f2f1;
$ggcTeal100: #b2dfdb;
$ggcTeal200: #80cbc4;
$ggcTeal300: #4db6ac;
$ggcTeal400: #26a69a;
$ggcTeal500: #009688;
$ggcTeal600: #00897b;
$ggcTeal700: #00796b;
$ggcTeal800: #00695c;
$ggcTeal900: #004d40;
$ggcTealA100: #a7ffeb;
$ggcTealA200: #64ffda;
$ggcTealA400: #1de9b6;
$ggcTealA700: #00bfa5;

$ggcGreen50: #e8f5e9;
$ggcGreen100: #c8e6c9;
$ggcGreen200: #a5d6a7;
$ggcGreen300: #81c784;
$ggcGreen400: #66bb6a;
$ggcGreen500: #4caf50;
$ggcGreen600: #43a047;
$ggcGreen700: #388e3c;
$ggcGreen800: #2e7d32;
$ggcGreen900: #1b5e20;
$ggcGreenA100: #b9f6ca;
$ggcGreenA200: #69f0ae;
$ggcGreenA400: #00e676;
$ggcGreenA700: #00c853;

$ggcLightGreen50: #f1f8e9;
$ggcLightGreen100: #dcedc8;
$ggcLightGreen200: #c5e1a5;
$ggcLightGreen300: #aed581;
$ggcLightGreen400: #9ccc65;
$ggcLightGreen500: #8bc34a;
$ggcLightGreen600: #7cb342;
$ggcLightGreen700: #689f38;
$ggcLightGreen800: #558b2f;
$ggcLightGreen900: #33691e;
$ggcLightGreenA100: #ccff90;
$ggcLightGreenA200: #b2ff59;
$ggcLightGreenA400: #76ff03;
$ggcLightGreenA700: #64dd17;

$ggcLime50: #f9fbe7;
$ggcLime100: #f0f4c3;
$ggcLime200: #e6ee9c;
$ggcLime300: #dce775;
$ggcLime400: #d4e157;
$ggcLime500: #cddc39;
$ggcLime600: #c0ca33;
$ggcLime700: #afb42b;
$ggcLime800: #9e9d24;
$ggcLime900: #827717;
$ggcLimeA100: #f4ff81;
$ggcLimeA200: #eeff41;
$ggcLimeA400: #c6ff00;
$ggcLimeA700: #aeea00;

$ggcYellow50: #fffde7;
$ggcYellow100: #fff9c4;
$ggcYellow200: #fff59d;
$ggcYellow300: #fff176;
$ggcYellow400: #ffee58;
$ggcYellow500: #ffeb3b;
$ggcYellow600: #fdd835;
$ggcYellow700: #fbc02d;
$ggcYellow800: #f9a825;
$ggcYellow900: #f57f17;
$ggcYellowA100: #ffff8d;
$ggcYellowA200: #ffff00;
$ggcYellowA400: #ffea00;
$ggcYellowA700: #ffd600;

$ggcYellowAmber50: #fff8e1;
$ggcYellowAmber100: #ffecb3;
$ggcYellowAmber200: #ffe082;
$ggcYellowAmber300: #ffd54f;
$ggcYellowAmber400: #ffca28;
$ggcYellowAmber500: #ffc107;
$ggcYellowAmber600: #ffb300;
$ggcYellowAmber700: #ffa000;
$ggcYellowAmber800: #ff8f00;
$ggcYellowAmber900: #ff6f00;
$ggcYellowAmberA100: #ffe57f;
$ggcYellowAmberA200: #ffd740;
$ggcYellowAmberA400: #ffc400;
$ggcYellowAmberA700: #ffab00;

$ggcOrange50: #fff3e0;
$ggcOrange100: #ffe0b2;
$ggcOrange200: #ffcc80;
$ggcOrange300: #ffb74d;
$ggcOrange400: #ffa726;
$ggcOrange500: #ff9800;
$ggcOrange600: #fb8c00;
$ggcOrange700: #f57c00;
$ggcOrange800: #ef6c00;
$ggcOrange900: #e65100;
$ggcOrangeA100: #ffd180;
$ggcOrangeA200: #ffab40;
$ggcOrangeA400: #ff9100;
$ggcOrangeA700: #ff6d00;

$ggcDeepOrange50: #fbe9e7;
$ggcDeepOrange100: #ffccbc;
$ggcDeepOrange200: #ffab91;
$ggcDeepOrange300: #ff8a65;
$ggcDeepOrange400: #ff7043;
$ggcDeepOrange500: #ff5722;
$ggcDeepOrange600: #f4511e;
$ggcDeepOrange700: #e64a19;
$ggcDeepOrange800: #d84315;
$ggcDeepOrange900: #bf360c;
$ggcDeepOrangeA100: #ff9e80;
$ggcDeepOrangeA200: #ff6e40;
$ggcDeepOrangeA400: #ff3d00;
$ggcDeepOrangeA700: #dd2c00;

$ggcBrown50: #efebe9;
$ggcBrown100: #d7ccc8;
$ggcBrown200: #bcaaa4;
$ggcBrown300: #a1887f;
$ggcBrown400: #8d6e63;
$ggcBrown500: #795548;
$ggcBrown600: #6d4c41;
$ggcBrown700: #5d4037;
$ggcBrown800: #4e342e;
$ggcBrown900: #3e2723;

$ggcGrey50: #fafafa;
$ggcGrey100: #f5f5f5;
$ggcGrey200: #eeeeee;
$ggcGrey300: #e0e0e0;
$ggcGrey400: #bdbdbd;
$ggcGrey500: #9e9e9e;
$ggcGrey600: #757575;
$ggcGrey700: #616161;
$ggcGrey800: #424242;
$ggcGrey900: #212121;

$ggcBlueGrey50: #eceff1;
$ggcBlueGrey100: #cfd8dc;
$ggcBlueGrey200: #b0bec5;
$ggcBlueGrey300: #90a4ae;
$ggcBlueGrey400: #78909c;
$ggcBlueGrey500: #607d8b;
$ggcBlueGrey600: #546e7a;
$ggcBlueGrey700: #455a64;
$ggcBlueGrey800: #37474f;
$ggcBlueGrey900: #263238;
