//- inlide file
extends /_include/_layout
include /_include/_mixin

append variables
    //- Required
    - var pageTitle= "";
    - var pageDescription= site.description.home;
    - var pageKeywords= site.keywords;
    //- Optional
    - var pageOgpTitle= "site.name";
    - var pageOgpImage= site.ogpImage
    - var pageLang= "ja";
    - var pageOgpType= "website";
    //- Not modified
    - var pageUrl= relativePath;
    - var pageDir= './';
    - var imgDir= '/images/';


    block meta

    block link

    block script


block body
    body.p-company--account
            .c-layout-full-height
                .p-company-layout
                    .l-left
                        +sidebar--company
                    .l-right
                        .p-company-content
                            +section-title--company('アカウント情報')
                            form
                                .w-contents
                                    //ユーザー情報START
                                    .w-contents-section
                                        .w-section-title-content--company
                                            +section-title-content--company('ユーザー情報')
                                        .w-account--company
                                            .b-layout-form-registration
                                                //loop START
                                                +layout-section-input-text('企業名','',true)
                                                +layout-section-input-text('メールアドレス','email',true)
                                                +layout-section-input-textarea('パスワード')
                                    //ユーザー情報END


                                    //企業情報START
                                    .w-contents-section
                                        .w-section-title-content--company
                                            +section-title-content--company('企業情報')
                                        .w-account--company
                                            .b-layout-form-registration
                                                //loop START
                                                +layout-section-input-textarea('法人概要',true)
                                                +layout-section-input-text('設立','',true)
                                                +layout-section-input-textarea('従業員数',true)
                                                +layout-section-input-textarea('住所・アクセス',true)
                                                +layout-section-input-text('会社HP','',true)
                                    //企業情報END

                                    //求職者アンケートSTART
                                    .w-contents-section
                                        .w-section-title-content--company
                                            +section-title-content--company('求職者アンケート')
                                        .w-account--company
                                            .w-message
                                                p 下記に入力した内容で求職者が応募するときにアンケートをとる事が可能です。
                                            .b-layout-form-registration
                                                //loop START
                                                //w-layout-section-input START
                                                .w-layout-section-input
                                                    .b-form-input-list
                                                        label.c-form-input-block
                                                            .w-tag
                                                                if required == true
                                                                    .tag 必須
                                                                    span.name.op-bold #{name}
                                                                else
                                                                    span.name.op-bold #{name}
                                                        .w-textarea
                                                            .texatea-block
                                                                textarea.input
                                                        .w-notes
                                                            .c-text-notes
                                                                p (記入例）希望の業種に◯を付けてください <br>【◯】薬局<br>【　】病院<br>【　】ドラッグストア(調剤併設)
                                                //w-layout-section-input END

                                    //求職者アンケートEND
                                    .w-contents-submit
                                        .w-button
                                            button.c-button.op-long 保存
                                //.w-contents
                +footer--company()
