/*
 * Layout
*/

.c-container{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  @include ex-container-side-space;
  @include mq(){
    @include ex-container-side-space;
  }
  /* Skin */
  &.op-short,&.op-single{
    max-width: 800px;
  }
}

.b-container-pop-up{
  max-width:800px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 30px;
}


