/*
 * description Style
*/

.b-description-thumbnail {
  @include flx-row;
  &.op-none-column {
    display: block;
    .l-left, .l-right {
      width: 100%;
      max-width: none;
      padding-left: 0;
    }
    .w-image{
      margin-bottom: 15px;
    }
  }

  .l-left {
    @include flx-col-4;

  }
  .l-right {
    padding-left: 15px;
    @include flx-col-8;
  }
  .w-movie {
    @include cnt-iframe-rwd-16-9;
  }
  .w-image{
    width:100%;
    img{
      width:100%;
    }
  }
}
