/*
 * fixed Style
*/
.b-fixed-next-button-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid $color-border;
  background: $color-bg-light;
  z-index:100;

  > .l-column {
    @include flx-row;
    @include flx-center;
    @include flx-middle;
    > .l-column-4 {
      @include flx-col-6;
      @include mq(pc){
        @include flx-col-3;
      }
    }
    .w-buttons {
      padding: 8px 8*2px;
      @include mq(pc){
        padding: 8px 8*3px;
      }
      .c-button {
        margin-bottom: 0;
        width:100%;
        max-width:300px;
        //@extend %ex-button.op-large;
      }
    }
  }
}
.b-fixed-bottom-page-sp{
  display: none;
  @include mq(){
    display: block;
    height: 41px;
    .w-bottom-page{
      background: #FFF;
      position: fixed;
      width: 100%;
      bottom: 0;
      left: 0;
      .c-button{
        display: block;
      }
    }
  }

}