/*
 * Header Style
*/

.b-header {
  @include mq() {
    height: 58px;
  }
  > .l-fixed {
    width: 100%;
    background: $color-main;
    @include mq() {
      height: 58px;
    }
    @include mq() {
      position: fixed;
      width: 100%;
      z-index: 2;
    }
  }

  .w-header-simple, .w-header {
    .logo-block {
      background: #FFF;
      max-width: 150px;
      min-width: 150px;
      padding: 8px;
      margin-bottom: 8px;
      @include mq(pc) {
        padding: .5em 1.5em;
        max-width: 270px;
        min-width: 270px;
        margin-bottom: 8*2px;
      }
      h1 {
        font-size: 0;
        line-height: 1;
      }
    }
  }

  .w-header-simple {
    text-align: center;
    width: 100%;
    background: $color-main;
    h1,img,.logo-block{
      display: inline-block;
    }
  }
  .w-header {
    @include flx-row;
    flex-wrap: nowrap;
    @include flx-middle;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 8*2px;
    padding-right: 8*2px;
    @include mq(pc) {
      padding-left: 8*4px;
      padding-right: 8*4px;
    }
    .l-left {
      @include flx-col;
      margin-right: auto;
    }
    .l-right {

    }
    .w-gnav-pc {

    }
    .l-gnav-sp {

    }
  }

  .drawer-hamburger-icon, .drawer-hamburger-icon:after, .drawer-hamburger-icon:before {
    background: #FFF;
  }
}

