/*
 * List Style
*/
ul.c-list-flex-btn {
  @include flx-row;
  margin-bottom: 0;
  li {
    margin-right: 15px;
    margin-bottom: 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

ul.b-list-sns {
  margin-bottom: 0;
  li.list-sns {
    @include flx-row;
    @include flx-middle;
    margin-bottom: 15px;
    .c-button {
      line-height: 1;
      width: 100%;
      color: #FFF;
      min-height: 47px;
      text-decoration: none;
      @include flx-row;
      @include flx-middle;
      i {
        position: relative;
        left: -10px;
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 1;
        margin-right: 5px;
      }
      span.button-text {
        position: relative;
        //    top:3px;
      }
    }
  }
}

.b-list-offer {
  padding: 10px;
  border: 1px solid $color-main;
  .w-offer-title {
    margin-bottom: 10px;
    .l-block {
      @include flx-row;
      @include flx-middle;
      .states {
        padding-right: 15px;
      }
      .title {
        @extend %ex-ellipsis;
        @include cnt-font-size(20);
        @include flx-col;
      }
    }
  }
  .w-offer-content {
    @include flx-row;
    @include flx-middle;
    .w-offer-photo {
      max-width: 160px;
      margin-right: 10px;
    }
    > .l-left {

    }
    > .l-right {
      @include flx-col;
    }

  }
  .w-offer-btn {
    border-top: 1px solid $color-border;
    margin-top: 15px;
    padding-top: 15px;
    .l-column {
      @include flx-row;
      @include flx-center;
      .l-column-4 {
        @include flx-col-3;
      }
      .offer-btn {
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        .icon-block {
          position: relative;
          vertical-align: middle;
          .c-tag-badge {
            position: absolute;
            top: -12px;
            left: -12px;
            z-index: 10;
          }
        }
        .c-button {
          width: 100%;
        }
      }
    }
  }

}

.b-list-offer-card-pages-wrap {
  .w-offer-card-pages-head {

  }
  .w-offer-card-pages-body {

  }
  .w-offer-card-pages-bottom {

  }
}

.b-list-offer-card-simple, .b-list-offer-card {
  > .w-offer-card-head {
    padding: 10px 10px;
    border-bottom: 1px solid $color-main;
    .w-title {
      .title {
        @include cnt-font-size(20);
      }
    }
  }
  //.w-offer-card-head

  > .w-offer-card-bottom-button,.l-right .w-offer-card-bottom-button {
    padding-bottom: 8*2px;
    > .l-column {
      @include flx-row;
      @include mq(pc) {
        @include flx-between;
      }
      .l-special, .l-normal {
        padding-left: 8px;
        padding-right: 8px;

      }

      .l-special {
        //@include flx-col-6;
        flex-grow: 4;
        @include mq() {
          @include flx-col-12;
          margin-bottom: 8*3px;
        }
      }
      .l-normal {
        //@include flx-col-3;
        flex-grow: 1;
        &.op-grow3 {
          flex-grow: 3;
        }
      }
      .c-button-push, .c-button-push-line {
        display: block;
      }
    }

  }
}

.b-list-offer-card {
  border: 1px solid $color-border;
  padding: 1px;

  .b-list-offer-card-loop & {
    margin-bottom: 8*4px;
  }

  .text-muted {
    @extend %ex-text-alert;
  }
  > .w-offer-card-name {
    @include flx-row;
    @include flx-middle;
    padding: 8px 10px;
    background: $color-main;
    .l-left {
      @include flx-col;
      margin-right: auto;

    }
    .l-right {
      //@include flx-col;
      // margin-left: auto;
    }
    .l-flex {
      @include flx-row;
      @include flx-middle;
    }

    .w-label {
      margin-right: 5px;
    }
    .w-title {
      .title {
        @include cnt-font-size(20);
        color: #FFF;
      }
    }
    .w-tag {
      .c-tag {
        padding-top: .6em;
        padding-bottom: .6em;
        background: #FFF;
        border: 1px solid #FFF;
        color: $color-text;
        margin-right: .5em;
        border: 1px solid #FFF;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
  > .w-offer-card-head {
    .w-tag {
      margin-top: 10px;
      .c-tag-status {
        background: $color-main;
        border: 1px solid $color-main;
      }
    }
  }
  > .w-offer-card-body {
    border-bottom: 1px solid $color-border;
    padding: 8px;
    @include mq(pc) {
      @include flx-row;
      @include flx-middle;
      padding: 8*2px;
    }
    .l-left {
      img {
        @include mq(pc) {
          margin-right: 20px;
          max-width: 160px;
        }
      }
    }
    .l-right {
      @include flx-col;
    }
    .w-photo {
      @include mq() {
        margin-bottom: 8*2px;

        img, .photo {
          width: 100%;
        }
      }
    }
  }
  > .w-offer-card-sub {
    padding: 15px 10px;
    .w-title {
      .title {
        @include cnt-font-size(20);
        color: $color-link;
      }
    }
    .w-text {
      margin-top: 10px;
      @include cnt-font-size(14);
      .text {

      }
    }
  }

}

.b-list-offer-card-simple {
  border-bottom:1px solid $color-border;
  margin-bottom: 8*2px;
  padding-bottom:8*2px;

  &:last-child{
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom:0;
  }
  > .w-offer-card-head{
    border: none;
    padding:0;
    padding-bottom: 8px;
  }
  > .w-offer-card-body {
    margin-top: 8px;
    @include mq(pc){
      @include flx-row;
    }

    > .l-left {
      @include mq() {
        margin-bottom: 8*3px;
      }
      @include mq(pc) {
        @include flx-col;
        flex-grow: 3;
      }

    }
    > .l-right {
      @include mq(pc) {
        @include flx-col;
        flex-grow: 2;
      }

    }
    .w-offer-card-bottom-button{
      .l-column{
        .l-special,.l-normal{
          padding-left:0;
          padding-right: 0;
          width:100%;
          margin-bottom:8*3px;
        }
      }
    }
  }
}

.b-list-change-button {
  margin-bottom: 0;
  border: 1px solid $color-main;
  min-width: 180px;
  li.list {
    list-style: none;
    margin-bottom: 0;
    text-align: center;
    background: #FFF;
    &.op-active {
      background: $color-main;
      a {
        @include cnt-link(#FFF);
        opacity: 1;
      }
    }
    a {
      @include cnt-font-size(14);
      display: block;
      padding: 8*2px 8px;
      opacity: .3;
      @include cnt-link($color-text);

    }
  }
}

.b-list-content-archives-block {
  .w-content-archives-title {
    margin-bottom: 8*2px;
    .archives-title {
      @include cnt-font-size(26);
      padding-top: .5em;
      padding-bottom: .5em;
      border-bottom: 2px solid $color-main;
    }
  }
  .w-content-archives-list {

  }
  .w-content-archives-button {
    padding-left: 8*2px;
    padding-right: 8*2px;
    .archives-button {

    }
  }
}

.b-list-content-archives {
  li.w-content-list {
    border-bottom: 1px solid $color-border;
    max-height: 121px;
    .content-wrap {
      @include cnt-link($color-text);
      @include flx-row;
      flex-wrap: nowrap;
      background: url("/images/common/list-arrow-light.svg") right 8px center no-repeat;
      padding-right: 24px;

      .w-img {

      }
      .w-tag {
        margin-bottom: 8px;

      }
      .w-name {
        .name {
          @include cnt-font-size(20);
        }
      }

    }
    .l-left {
      margin-right: 8px;
      max-width: 160px;
    }
    .l-right {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }

}


