//- inlide file
extends /_include/_layout
include /_include/_mixin

append variables
    //- Required
    - var pageTitle= "";
    - var pageDescription= site.description.home;
    - var pageKeywords= site.keywords;
    //- Optional
    - var pageOgpTitle= "site.name";
    - var pageOgpImage= site.ogpImage
    - var pageLang= "ja";
    - var pageOgpType= "website";
    //- Not modified
    - var pageUrl= relativePath;
    - var pageDir= './';
    - var imgDir= '/images/';

    block meta

    block link

    block script
block body
    body.js-drawer.drawer--right.p-home.p-home--offer-send
        +header-simple
        //.w-breadcrumb-multi-steps
            +breadcrumb-multi-steps('op-visited','op-visited','op-current','')
        .w-offer-send-content
            .c-container.op-short
                .w-edit-title
                    .title 送信完了
                .w-send-message
                    p 応募完了しました。<br>企業の担当者からのご連絡をお待ち下さい。
                .w-send-next-button
                    .w-button
                        a(href='../../search/').c-button 他の求人を見にいく
                    .w-button
                        a(href='/').c-button-text TOPページに戻る
        +footer-cp

